@font-face {
	font-family: myMeiryo;
	src: url(font/meiryo.ttc);
}

@font-face {
	font-family: myMeiryo;
	src: url(font/meiryoB.ttc);
	font-weight: bold;
}

body {
	font-family: myMeiryo;
	margin: 0;
	opacity: 0;
}

.shadow {
	color: white;
	text-shadow:
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black,
		0 0 4px black;
}

.filter-shadow {
	-webkit-filter: drop-shadow(4px 4px 0 rgba(0, 0, 0, 0.33));
}

.box-shadow {
	box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.33);
}

.tabular-nums {
	font-variant-numeric: tabular-nums;
	-moz-font-feature-settings: "tnum";
	-webkit-font-feature-settings: "tnum";
	font-feature-settings: "tnum";
}

#container {
	position: absolute;
	overflow: hidden;
}
